<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<link href='/stylesheet/style.css' rel='stylesheet' type='text/css'/>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	</head>
<body style="height: 5000px; background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%")>

<!-- <nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Folio</a>
		</div>
	</div>
</nav> -->

