<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" name="title" content="Michal Kozdras - Porfolio">
		<meta property="og:description" name="description" content="Webpage created by Junior front-end developer Michal Kozdras; Includes portfolio page, cv, resume, summary skils and technologies mastered">
		<meta property="og:keywords" name="keywords" content="michal kozdras, portfolio, work, job, job ofert, programming, coding, junior, html, javascript, web development, web design, page">
		<meta property="og:author" name="author" content="Michal Kozdras">
		<meta property="og:image" name="image" content="http://i.ibb.co/CH7tcwZ/titlepage.jpg">
		<meta property="og:type"  name="type"content="website">
		<meta property="og:url"   name="url" content="https://mkozdras.herokuapp.com">
		<title>Portfolio Micha Kozdras</title>
		<link href='/stylesheet/style.css' rel='stylesheet' type='text/css'/>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
		<link rel="icon" href="https://img.icons8.com/wired/64/000000/address-book.png" type="image">
	</head>
<body style="background: radial-gradient(ellipse at bottom, #233455 0%, #0f0f13 100%) no-repeat center center fixed !important;" >

