<%- include ("./partials/header") %>
<nav>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>


<div class="back">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>

<div id='title'>
    <span>
      DISCOVER
    </span>
    <br>
    <span>
      My Portfolio Page
    </span>
</div>

<div class="arrow">
    <span></span>
    <span></span>
    <span></span>
</div>


<div id="home">
  <h1></h1>
</div>


<div id="about">
  <h></h>
  <section class="info">
    <p data-aos="fade-up-right">My name is Michal Kozdras. I am a front-end developer on beginning of my new road. Based in Runcorn UK.</p>
    <p data-aos="fade-up-left">I am interested in an internship or a junior Web Developer position where I will support the team, your project and gain experience.</p>
    <p data-aos="fade-up-right">In free time I am a medieval historical reenactor, Champion of World 2015, and multiple champion of north Poland in Knight Sport. </p>
    <div data-aos="fade-up-left" class="Iam">
    <p>At this moment</p>
      <b>
        <div class="innerIam">
          I am still learning<br />
          and<br />
          know the basics of :
          </div>
      </b>
    </div>
  </section>
</div>


</div>
<div id="contact">
  <h1>Contact</h1>
  <div id='contact-info'>
    <div class='links'>
      <a href='https://www.facebook.com/Mic-Ko-111998043851735/' class='orange-border' target='_blank'>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>
                <img src="https://cdn2.iconfinder.com/data/icons/free-1/128/Facebook__fb__social-07-512.png" >
              </span>
        </div>
      </a>
      <a href='https://www.linkedin.com/in/michal-kozdras-857b191a6/' class='orange-border' target='_blank'>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>
            <img src=https://cdn3.iconfinder.com/data/icons/social-media-2068/64/_LinkedIn-512.png></img>
              </span>
        </div>
      </a>
      <a href='https://www.instagram.com/mic_ko_dev/' class='orange-border' target='_blank'>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>
                <img src="https://cdn0.iconfinder.com/data/icons/social-media-2185/512/social__media__social_media__instagram_-512.png"></img>
              </span>
        </div>
      </a>
    </div>
  </div>
</div>


<%- include ("./partials/footer") %>