<%- include ("./partials/header") %>


<div id="all">
  <header class="header">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="resume">Resume</a></li>
    </ul>
  </header>



  <div class="back" class="overlay">
      <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
  </div>

  <div id="home">
    <h1></h1>
    <div id='title'>
      <span>
        DISCOVER
      </span>
      <br>
      <span>
        My Portfolio Page
      </span>
  </div>

  <div class="arrow">
      <span></span>
      <span></span>
      <span></span>
  </div>
  </div>






  <div id="about">
    <a name="about"></a>
    <section class="info">
      <p data-aos="fade-up-right">My name is Michal Kozdras and I am a front-end developer on the beginning of my career path. I am currently based in Runcorn, UK. </p>
      <p data-aos="fade-up-left">I am looking for a development opportunity through an internship or a junior Web Developer position where I would support the team, your project and gain valuable experience. </p>
      <p data-aos="fade-up-right">I am still learning and know the basics of:</p>
     <div data-aos="fade-up-left" class="skill">
      <div  class="content">
          <div class="content-1">Very good level of HTML!</div>
          <div class="content-1">I know the basics of CSS and know how to use it in website development!  </div>
          <div class="content-2">I know the basics very well and I am continuing to learn!</div>
          <div class="content-2">I have an understanding of the basics! </div>
          <div class="content-2">I mastered use of this library! </div>
          <div class="content-2">I know how to create an app and use the NPM, i.e. Express!</div>
          <div class="content-2">I know how to utilize data bases with the use of Mongoos!</div>
          <div class="content-2">I make use of the Git on the daily basis working on my projects!</div>
          <div class="content-2 show">Click on the Icon to find out more!</div>
        </div>


        <div  class="button-wrap">
          <ul class="skills">
            <li class="button"><i class="fab fa-html5"></i > HTML</li>
            <li class="button"><i class="fab fa-css3-alt"></i> CSS</li>
            <li class="button"><i class="fab fa-js"></i> JS</li>
            <li class="button"><i class="fas fa-dollar-sign"></i> JQuery</li>
            <li class="button"><i class="fab fa-bootstrap"></i> Bootstrap</li>
            <li class="button"><i class="fab fa-node"></i> NodeJS</li>
            <li class="button"><i class="fab fa-envira"></i> MongoDB</li>
            <li class="button"><i class="fab fa-github-square"></i> Git+Github</li>
          </ul>
        </div>
      </div>
      <p data-aos="fade-up-right">In my free time I am a medieval historical reenactor. I hold the titles of World Champion 2015 and I was also a multiple Champion of the North Poland in knight sport. Check out the video!
      </p>
      <section data-aos="fade-left"  class="container ">
          <button id="toggle-button" class="vidbutton"  data-hover="Play!"><div>Video!</div></button>
        </section>
      <div class="video-container" >
        <video autoplay loop muted class="video-bg" id="video-bg" style="display: none">
              <source src="promo.webm" type="video/webm" alt="HTML5 background video">
            </video>
      </div>
    </section>
    </div>
    <div id="contact">
      <section data-aos="fade-up-left" id="info" class="info active">
        <p>Are you interested? Check my Resume.</p>
        <section class="resume">
          <form action="/resume" method="get" target="_blank">
            <button type="submit" id="toggle-button" data-hover="Check!"><div>Resume</div></button>
          </form>
        </section>
        <p>You can find me on:</p>
      </section>
      <div  id='contact-info'>
        <div class='links'>
          <a rel="noreferrer" href='https://www.linkedin.com/in/michal-kozdras-857b191a6/' class='sky-border' target='_blank'>
            <div>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span>
                <img alt="LinkedIn" src="https://cdn3.iconfinder.com/data/icons/social-media-2068/64/_LinkedIn-512.png"></img>
                  </span>
            </div>
          </a>
          <a rel="noreferrer"href='https://github.com/Mic-Ko' class='sky-border' target='_blank'>
            <div>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span>
                <img alt="GitHub"src="https://cdn4.iconfinder.com/data/icons/bettericons/354/github-square-512.png"></img>
                  </span>
            </div>
          </a>
          <a rel="noreferrer" href='https://www.facebook.com/profile.php?id=100001047492355' class='sky-border' target='_blank'>
            <div>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span>
                    <img alt="FB" src="https://cdn2.iconfinder.com/data/icons/free-1/128/Facebook__fb__social-07-512.png" >
                  </span>
            </div>
          </a>
      </div>
    </div>
  </div>
  <footer>
    <p>Created with <i class="far fa-heart"></i></p>
    <p>Michal Kozdras © 2020</p>
  </footer>
</div>



<%- include ("./partials/footer") %>