<%- include ("./partials/header") %>
<header class="header">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="resume">Resume</a></li>
  </ul>
</header>

<div class="back" class="overlay">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>

</div>

<div id='title'>
    <span>
      DISCOVER
    </span>
    <br>
    <span>
      My Portfolio Page
    </span>
</div>

<div class="arrow">
    <span></span>
    <span></span>
    <span></span>
</div>


<div id="home">
  <h1></h1>
</div>


<div id="about">
  <h></h>
  <section class="info">
    <p data-aos="fade-up-right">My name is Michal Kozdras. I am a front-end developer on beginning of my new road. Actualy based in Runcorn United Kingdom.</p>
    <p data-aos="fade-up-left">I am interested in an internship or a junior Web Developer position where I will support the team, your project and gain experience.</p>
    <p data-aos="fade-up-right">At this moment I am still learning and know the basics of :</p>
     <ul data-aos="fade-left" class="skills">
       <li><i class="fab fa-html5"></i > HTML</li>
       <li> <i class="fab fa-bootstrap"></i> Bootstrap</li>
       <li><i class="fab fa-css3-alt"></i> CSS</li>
       <li><i class="fab fa-github-square"></i> Git + GitHub </li>
      </ul>
      <ul data-aos="fade-left" class="skills">
        <li><i class="fab fa-js"></i> JavaScript</li>
        <li><i class="fab fa-envira"></i> MongoDB</li>
        <li><i class="fas fa-dollar-sign"></i> JQuery</li>
        <li><i class="fab fa-node"></i> NodeJS</li>

      </ul>
    <p data-aos="fade-up-right">In free time I am a medieval historical reenactor, Champion of World 2015, and multiple Champion of north Poland in Knight Sport. Check Video. </p>
    <section data-aos="fade-up-left" class="container">
        <button id="toggle-button" data-hover="Play!"><div>Video!</div></button>
      </section>
    <div class="video-container" >
      <video autoplay loop muted class="video-bg" id="video-bg"> <!--this id is only used for the toggle function; can be removed if you don't need an event -->
        <!-- whatever video you put here will be (effectively) cropped to fit container size; make sure you're okay with it shrinking to the top left corner of the video at your specified minimum dimensions -->
            <source src="promo.webm" type="video/webm" alt="HTML5 background video">
          </video>
    </div>
  </section>
</div>
</div>
<div id="contact">
  <section class="info">
    <p data-aos="fade-up-left">Are you interested? Check my Resume.</p>

  </section>


  <h1>Contact</h1>
  <div id='contact-info'>
    <div class='links'>
      <a href='https://www.linkedin.com/in/michal-kozdras-857b191a6/' class='orange-border' target='_blank'>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>
            <img src="https://cdn3.iconfinder.com/data/icons/social-media-2068/64/_LinkedIn-512.png"></img>
              </span>
        </div>
      </a>
      <a href='https://github.com/Mic-Ko' class='orange-border' target='_blank'>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>
            <img src="https://cdn4.iconfinder.com/data/icons/bettericons/354/github-square-512.png"></img>
              </span>
        </div>
      </a>
      <a href='https://www.facebook.com/Mic-Ko-111998043851735/' class='orange-border' target='_blank'>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>
                <img src="https://cdn2.iconfinder.com/data/icons/free-1/128/Facebook__fb__social-07-512.png" >
              </span>
        </div>
      </a>
      <a href='https://www.instagram.com/mic_ko_dev/' class='orange-border' target='_blank'>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span>
                <img src="https://cdn0.iconfinder.com/data/icons/social-media-2185/512/social__media__social_media__instagram_-512.png"></img>
              </span>
        </div>
      </a>
    </div>
  </div>
</div>


<%- include ("./partials/footer") %>