<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='/stylesheet/resume.css' rel='stylesheet' type='text/css'/>
</head>
<body>

<div id="resume">
    <img src="fot1.jpg" alt="Michal Kozdras">
    <h1>Michal Kozdras</h1>
    <p>Cell: <a href=#>07428285806</a>
    <p>Web: <a href=#>mkozdras.com</a>
    <p>Email: <a href=#>kozibor@gmail.com</a>
    <p id="objective">I am a reserved but ambitious young professional seeking a career that fits my professional skills, personality, and murderous tendencies. My good birth, excellent education and phenomenal mathematical faculty have allowed me to advance the prospects of several criminal enterprises.
    <dl>
        <dt>Certificate
        <dd>
        <p><strong>Udemy:</strong>Web Developer Bootcamp</p>
        <p><strong>SoloLearn:</strong>JavaScript Tutorial Course</p>
        <p><strong>SoloLearn:</strong>JQuery Tutorial Coures</p>
        <p><strong>SoloLearn:</strong>CSS Turorial Course</p>
        <p><strong>SoloLearn:</strong>Html Fundamental Course</p>
    </dl>

    <dl>
        <dt>Skills
        <dd>
            <h2>Hard Skills</h2>
            <p> HTML,CSS, JavaScript, JQuery</p>
            <p> NodeJS, MongoDB, REST</p>
            <p> Git+GitHub, Bootstrap</p>
            <p><strong>I worked with:</strong></p>
            <p>Visual Studio Code, GoormIDE, Cmdr-console emulator for Win</p>
            <h2>Soft skills</h4>
            <p>Problem Solving, Team Work,  </p>
    </dl>

    <dl>
        <dt>Experience
        <dd>
        <h2>Sale Representative<span>Pakplus, Bielsk PL 2016-2017</span></h2>
        <ul>
            <li>Development within the criminal underworld</li>
            <li>Conducted negotiations with several rogue governments</li>
        </ul>
        <h2>Sale Representative<span>ZPM Dalwin, Dalwin PL 2015-2016</span></h2>
        <ul>
            <li>Recruiting, training and terrorizing young men.
        </ul>
    </dd>
  </dl>

  <dl>
    <dt>Hobbies
    <dd>Reenecment, Escooter, Cycle, Gaming / Computer technologies
  </dl>
  <dl>
    <dt>References
    <dd>Available on request
  </dl>
  <p class="objective" style="margin-top:2rem;">(<a href="http://thenewcode.com/553/Build-A-Responsive-Web-Résumé">Return to the original blog article</a>.)
</div>










<%- include ("./partials/footer") %>