<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='/stylesheet/resume.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>

<div id="resume">
    <img src="fot1.jpg" alt="Michal Kozdras">
    <h1>Michal Kozdras</h1>
    <p><i class="fas fa-mobile-alt"></i> Tel: <a href=#>07428285806</a></p>
    <p><i class="far fa-address-card"></i> Web: <a href=#>mkozdras.com</a></p>
    <p><i class="fas fa-envelope-open-text"></i> Email: <a href=#>kozibor@gmail.com</a></p>
    <p><i class="fas fa-home"></i> Adres: <a href="https://goo.gl/maps/LPTyTC6TZ3zzaUVBA">29 Tilbury Place, WA7 6JE Runcorn</a>  </p>

    <p id="sum">Junior Web Developer z pasją do tworzenia stron internetowych. Chętnie uczący sie nowych technologi- podarzający za trędami. Czuję silną potrzebę rozwoju, dlatego zaczałem sie uczyc Programowania. </p>

    <dl>
        <dt>Skills
        <dd>
            <h2>Hard Skills</h2>
            <p><i class="fab fa-html5"> </i> HTML <i class="fab fa-css3-alt"></i> CSS <i class="fab fa-js"></i> JavaScript </p>
            <p> <i class="fab fa-node"></i> NodeJS <i class="fab fa-envira"></i> MongoDB <i class="fas fa-cog"></i> REST</p>
            <p> <i class="fas fa-dollar-sign"></i>JQuery <i class="fab fa-github-square"></i> Git+GitHub <i class="fab fa-bootstrap"></i> Bootstrap </p>
            <h2>Soft skills</h4>
            <p>Problem Solving, Team Work,  </p>
            <h2><strong>I worked with:</strong></h2>
            <p>Visual Studio Code, GoormIDE, Cmdr-console emulator for Win</p>
    </dl>
    <dl>
        <dt>Certificate
        <dd>
        <p><strong>Udemy:</strong>Web Developer Bootcamp</p>
        <p><strong>SoloLearn:</strong>JavaScript Tutorial Course</p>
        <p><strong>SoloLearn:</strong>JQuery Tutorial Coures</p>
        <p><strong>SoloLearn:</strong>CSS Turorial Course</p>
        <p><strong>SoloLearn:</strong>Html Fundamental Course</p>
    </dl>

    <dl>
        <dt>Experience
        <dd>
        <h2>Sale Representative<span>Pakplus, Bielsk PL 2016-2017</span></h2>
        <ul>
            <li>Kontak z klientem, sprzedaż produktu premium.</li>
            <li>spotkania biznesowe, wspołpraca w zespole handlowym.</li>
        </ul>
        <h2>Sale Representative<span>ZPM Dalwin, Dalwin PL 2015-2016</span></h2>
        <ul>
            <li>Kontak z klientem, sprzedaż produktu FMCG.</li>
            <li>Spotkania biznesowe, analiza i kordynacja zapotrzebowania na loklnym rynku.</li>
            <li>wspołpraca w zespole handlowym.</li>
        </ul>
        </dd>
  </dl>
  <dl>
  <dt>Languages
    <dd>
    <p><strong>English</strong> Professional working proficiency</p>
    <p><strong>Polish</strong> Nativ</p>
    <p><strong>Spanish</strong> Elementary proficiency</p>
  </dl>

  <dl>
    <dt>Hobbies </dt>
    <dd>Reenecment, Escooter, Cycle, Gaming / Computer technologies </dd>
  </dl>


  <div class="container">
	<div class="icons-container">
		<div class="icon-container">
			<a href="https://github.com/Mic-Ko"><i class="fab fa-github fa-2x"></i></a>
		</div>
		<div class="icon-container">
			<a href=""><i class="fab fa-linkedin-in fa-2x"></i></a>
		</div>


	</div>
  </div>
  <p class="objective" ><a href="/"><i class="fas fa-arrow-circle-left"></i> Return to Portfolio.</a> /
  <a class="objective" href="path_to_file" download="proposed_file_name"><i class="fas fa-file-download"></i> Download</a>
</div>

<footer>
  <p>Createt with <i class="far fa-heart"></i></p>
  <p>Michal Kozdras © 2020</p>
</footer>



<%- include ("./partials/footer") %>