<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" name="title" content="Michal Kozdras - Porfolio">
	<meta property="og:description" name="description" content="Webpage created by Junior front-end developer Michal Kozdras; Includes portfolio page, cv, resume, summary skils and technologies mastered">
	<meta property="og:keywords" name="keywords" content="michal kozdras, portfolio, work, job, job ofert, programming, coding, junior, html, javascript, web development, web design, page">
	<meta property="og:author" name="author" content="Michal Kozdras">
	<meta property="og:image" name="image" content="http://i.ibb.co/CH7tcwZ/titlepage.jpg">
	<meta property="og:type"  name="type"content="website">
	<meta property="og:url"   name="url" content="https://mkozdras.herokuapp.com">
	<title>Resume Micha Kozdras</title>
    <link href='/stylesheet/resume.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="icon" href="https://img.icons8.com/wired/64/000000/address-book.png" type="image">
  </head>
<body>

<div id="resume">
    <img src="fot1.jpg" alt="Michal Kozdras">
    <h1>Michal Kozdras 
		<p><span> Junior Web Developer</span></p>
	</h1>
    <p><i class="fas fa-mobile-alt"></i> Tel: <a href=#>07428285806</a></p>
    <p><i class="far fa-address-card"></i> Web: <a href=#>mkozdras.herokuapp.com</a></p>
    <p><i class="fas fa-envelope-open-text"></i> Email: <a href=#>kozibor@gmail.com</a></p>
    <p><i class="fas fa-home"></i> Adres: <a href="https://goo.gl/maps/LPTyTC6TZ3zzaUVBA">29 Tilbury Place, WA7 6JE Runcorn</a>  </p>

    <p id="sum"> Junior Web Developer with the passion for web design. I am eager to learn new technologies and follow current trends. I strive to achieve the best of my potential, which is the reason why I decided to learn programming. I am looking for an opportunity to hold a junior web developer position ar an internship, where i would support the team, contribute to the project and gain experience. </p>

    <dl>
        <dt>Skills
        <dd>
            <h2>Hard Skills</h2>
            <p>	<i class="fab fa-html5"> </i> HTML <i class="fab fa-css3-alt"></i> CSS <i class="fab fa-js"></i> JavaScript </p>
            <p> <i class="fab fa-node"></i> NodeJS <i class="fab fa-envira"></i> MongoDB <i class="fas fa-cog"></i> REST</p>
            <p> <i class="fas fa-dollar-sign"></i>JQuery <i class="fab fa-github-square"></i> Git+GitHub <i class="fab fa-bootstrap"></i> Bootstrap </p>
            <h2>Soft skills</h2>
            <p>Problem Solving, Team Work</p>
            <h2><strong>I worked with:</strong></h2>
            <p>Visual Studio Code, GoormIDE, Cmdr-console emulator for Win</p>
    </dl>
    <dl>
        <dt>Certificates
        <dd>
        <p><strong>Udemy: </strong> Web Developer Bootcamp</p>
        <p><strong>SoloLearn: </strong> JavaScript Tutorial Course</p>
        <p><strong>SoloLearn: </strong> JQuery Tutorial Coures</p>
        <p><strong>SoloLearn: </strong> CSS Turorial Course</p>
        <p><strong>SoloLearn: </strong> Html Fundamental Course</p>
    </dl>

    <dl>
        <dt>Experience
        <dd>
		<h2>HGV Driver <span> work through various job agencies UK 11.2017-02.2020</span></h2>	
		<ul>
            <li>This was my first job in the UK; it enabled me to familiarise myself with the UK, local rules, and laws through hands-on experience. </li>
            <li>I improved my communication skills.</li>
        </ul>
        <h2>Sales Representative<span>Pakplus, Bielsk PL 2016-2017</span></h2>
        <ul>
            <li>I have established and maintained positive relations with customers in the area of Northern Poland.
			</li>
            <li>I have significantly contributed to sourcing new clients.</li>
			<li>On quarterly meetings, I was actively presenting current demands of the local market to the rest of the team.</li>
        </ul>
        <h2>Sale Representative<span>ZPM Dalwin, Dalwin PL 2015-2016</span></h2>
        <ul>
            <li>I was responsible for the local market analysis targeted at identification of products that are a best match to customers’ needs.</li>
            <li>Working as a part of the sales team, participation in weekly meetings. </li>
            <li>Being a part of the sales team.</li>
        </ul>
        </dd>
  </dl>
  <dl>
  <dt>Languages
    <dd>
    <p><strong>English:</strong> Professional working proficiency, C1 - EF SET Certificate</p>
    <p><strong>Polish:</strong> Native</p>
  </dl>

  <dl>
    <dt>Hobbies </dt>
    <dd>I enjoy sports; in my free time I take part in competitive armoured combats (knight fights), ride a bike and an E-Scooter. On top of that, I am passionate about computer technologies and games. 
 </dd>
  </dl>


  <div class="container">
	<div class="icons-container">
		<div class="icon-container">
			<a href="https://github.com/Mic-Ko" target="_blank"><i class="fab fa-github fa-2x"></i></a>
		</div>
		<div class="icon-container">
			<a href="https://www.linkedin.com/in/michal-kozdras-mic-ko/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
		</div>


	</div>
  </div>
  <p class="objective" ><a href="/"><i class="fas fa-arrow-circle-left"></i> Return to Portfolio.</a> /
  <a class="objective button" href="MichalKozdrasCV.pdf" download><i class="fas fa-file-download"></i> Download</a>
</div>

<footer>
  <p>Created with <i class="far fa-heart"></i></p>
  <p>Michal Kozdras © 2020</p>
</footer>



	</body>
</html>